[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
boto3 = "*"
psycopg2 = "*"
django-cors-headers = "*"
djangorestframework = "*"
python-decouple = "*"
djangorestframework-simplejwt = "*"
stripe = "*"
dj-stripe = "*"
django-anymail = "*"
whitenoise = "*"

[dev-packages]

[requires]
python_version = "3.10"
