@import '../App.css';

.input1{
    outline: none;
    border:none;
    border-radius: 30px;
    background-color: var(--background);
    width:90%;
    height:30px;
    padding: 7px;
    font-weight: bold;
}

.svg1{
    height: 35px;
    width: 35px;
}

.button1{
    border-radius: 5px;
    outline:none;
    background-color: var(--theme-primary);
    padding:10px;
    text-decoration: none;
    border:none;
    font-weight: bold;
    color:white;
}