@import '../App.css';

.contact-form{
    width:90vw;
    padding:5px;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    border-radius: 10px;
    margin:0px auto;
   /*  background-image: radial-gradient(var(--theme-primary), rgb(46, 188, 3),yellow); */
    background-color: var(--theme-secondary);
}

.contact-form h3{
    color:var(--text-secondary);
}

@media(min-width:500px){
    .contact-form{
        width:400px;
    }
}
