.header{
    display:flex;
    justify-content:center;
    flex-wrap: wrap;
}


.container{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.category-card{
    max-width:100%;
    padding:30px;
    margin:10px;
    border-radius: 30px;
    background-color: var(--theme-secondary);
    display: flex;
    justify-content: center;
    transition: all .2s ease-in-out; 
}

.category-card:hover { 
    transform: scale(1.1);
    opacity:0.5;
    }


.category-card-text{
    font-weight: bold;
    color:var(--text-secondary);
    transition: all .2s ease-in-out; 
}

.category-card-text:hover { 
    transform: scale(1.1) !important;
    }


.feature-container{
    background-color: var(--theme-primary);
    width:100vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin:0 auto;
    max-height:98vh;
    min-height:90vh;
}

.category-card-img{
    height:100%;
    width:auto;
    position:center;
    object-fit:cover;
}

.feature-card-main{
    height: 80%;
    width:100%;
    margin:10px;
    padding:10px;
    border-radius:30px;
    transition: all .2s ease-in-out; 
    background-color: var(--theme-secondary);
    overflow:hidden;
    display:flex;
    justify-content: center;
    align-items: center;
}

.feature-card-main:hover{
    transform: scale(1.2);
}

.feature-card{
    display:flex;
    justify-content: center;
    margin:10px;
    padding:10px;
    border-radius:30px;
    transition: all .2s ease-in-out; 
    background-color: var(--theme-secondary);
}

.feature-card:hover{
    transform: scale(1.2);
}


@media (min-width:371px){
    .category-card{
        width:150px;
    }

    .feature-container{
        width:90%;
    }

}

@media (min-width:500px) {
    .header{
        display:flex;
        justify-content:space-between;
        flex-wrap: nowrap;
        min-height: 200px;
    }

    .container{
        justify-content: space-around;
    }

    .category-card{
        width:300px;
    }

    .feature-card-main{
        width:400px;
    }
}

@media (min-width:1000px){
    .container{
        margin:0px auto;
        width: 85%;
    }
}