.header{
    display:flex;
    justify-content:center;
    flex-wrap: wrap;
}


.container{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.category-card{
    max-width:150px;
    padding:30px;
    margin:10px;
    border-radius: 30px;
    background-color: var(--theme-secondary);
    display: flex;
    justify-content: center;
    transition: all .2s ease-in-out; 
}

.category-card:hover { 
    transform: scale(1.1);
    opacity:0.5;
    }


.category-card-text{
    font-weight: bold;
    color:var(--text-secondary);
    transition: all .2s ease-in-out; 
}

.category-card-text:hover { 
    transform: scale(1.1) !important;
    }


.feature-container{
    background-color: var(--theme-primary);
    width:100vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin:0 auto;
    align-items: center;
    min-height:90vh;
}


.featured-card-img{
    height:20vh;
    width:100%;
    max-width: 100%;
    position:center;
    object-fit:cover;
}

.featured-card-img-main{
    height:auto;
    width:100%;
    max-width: 100%;
    position:center;
    object-fit:cover;
}

.feature-card-main{
    height: 80%;
    width:100%;
    margin:5px;
    padding:0px;
    border-radius:30px;
    transition: all .2s ease-in-out; 
    background-color: var(--theme-secondary);
    overflow:hidden;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}

.feature-card-main:hover{
    transform: scale(1.2);
}

.feature-slot{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.feature-slot-bottom{
    display:flex;
}

.feature-title-container{
    position:absolute;
    z-index:2;
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.feature-card{
    width:90%;
    height:40%;
    overflow:hidden;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    margin:8px;
    border-radius:30px;
    transition: all .2s ease-in-out; 
    background-color: var(--theme-secondary);
}

.feature-card:hover{
    transform: scale(1.2);
}

.feature-card-wrapper{
    height:80%;
    width:100%;
    top:50%;
    margin:0px auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}


.feature-card-wrapper-main{
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature-info{
    margin:10px;
}


@media (min-width:371px){

    .feature-container{
        width:100%;
    }

}

@media (min-width:500px) {

    .feature-slot{
        flex-wrap: nowrap;
    }

    .header{
        display:flex;
        justify-content:space-between;
        flex-wrap: nowrap;
        min-height: 200px;
    }

    .container{
        justify-content: space-around;
    }

    .category-card{
        width:300px;
    }

    .feature-card-main{
        width:80%;
    }

    .feature-card{
        width:175px;
        min-height:150px;
        max-height:200px;
    }

}

@media (min-width:550px){

    .feature-slot{
        width:auto;
    }

    .feature-slot-bottom{
        display:flex;
        flex-wrap: nowrap;
    }



    .feature-card-inside-wrapper{
        display:flex;
        flex-wrap: nowrap;
    }

}

@media (min-width:650px){
    .feature-card-main{
        width:250px;
        min-height:300px;
        max-height:350px;
    }

    .feature-card-wrapper{
        height:80%;
        width:100%;
        top:50%;
        margin:0px auto;
        display: block;
    }
}

@media (min-width:700px){


    .feature-slot{
        display: inline;
    }

    .feature-card-main{
        width:300px;
        min-height:350px;
    }

    .feature-card{
        width:175px;
        min-height:200px;
    }

    .featured-card-img-main{
        height:250px;
    }

    .featured-card-img{
        height:100px;
    }

}

@media (min-width:955px){
    .category-card{
        width:300px;
    }

    .feature-card-main{
        width:400px;
        min-height:450px;
    }

    .feature-card{
        width:250px;
        min-height:240px;
    }

    .featured-card-img-main{
        height:300px;
    }

    .featured-card-img{
        height:125px;
    }
}

@media (min-width:1000px){
    .container{
        margin:0px auto;
        width: 85%;
    }

}