@font-face {
    font-family: Barrel;
    src: url(fonts/Barrelhouse\ All\ Caps.ttf);
}

@font-face {
    font-family: ChristmasSchool;
    src: url(fonts/ChristmasSchoolDEMO/Christmas\ School.otf);
}

@font-face {
    font-family: LittleHeart;
    src: url(fonts/LittleHeart/LittleHeartRegular.otf);
}

@font-face {
    font-family: DrearyHome;
    src: url(fonts/DrearyHome/DrearyHome.ttf);
}

@font-face {
    font-family: KeanuManunggal;
    src: url(fonts/KeanuManunggal/KeanuManunggalRegular.ttf);
}

@font-face {
    font-family: PleasantFeelings;
    src: url(fonts/PleasantFeelings/PleasantFeelings.ttf);
}



@font-face {
    font-family: RhuneExplorer;
    src: url(fonts/RhuneExplorer/FONT/Rhune-Explorer.ttf);
}

@font-face {
    font-family: TempleJump;
    src: url(fonts/TempleJump/FONT/Temple-Jump.ttf);
}

@font-face {
    font-family: WoodChop;
    src: url(fonts/WoodChop/FONT/Wood-Chop.ttf);
}


@font-face {
    font-family: Blackness;
    src: url(fonts/Blackness.ttf);
}

@font-face {
    font-family: DarknessOfTheNight;
    src: url(fonts/Darknessofthenight.ttf);
}

@font-face {
    font-family: Drift;
    src: url(fonts/Drift___.ttf);
}

@font-face {
    font-family: GhostSkeleton;
    src: url(fonts/GhostSkeleton.ttf);
}

@font-face {
    font-family: HigherJump;
    src: url(fonts/HigherJump.ttf);
}

@font-face {
    font-family: ImagineSerif;
    src: url(fonts/ImagineSerif.otf);
}

@font-face {
    font-family: LimitBreaking;
    src: url(fonts/LimitBreaking.ttf);
}

@font-face {
    font-family: RockerSquad;
    src: url(fonts/RockerSquad.ttf);
}

@font-face {
    font-family: Vorgane;
    src: url(fonts/Vorgane-Demo.otf);
}
