@import '../App.css';

.footer{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: var(--theme-secondary);
}

.footer-section{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin:10px;
}

.footer-link{
    width:100%;
}

/*these styles are for Footer2 */

.footer-section-large{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.footer-section-small{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.footer-section-wrapper{
    display:inline-flex;
}

@media (min-width:500px){
    .footer-section-wrapper{
        display:inline-block;
    }
}

@media (min-width:700px){

    .footer-section{
        max-width: 33vw !important;
    }

    .footer-section-large{
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        max-width: 50%;
    
    }
    
    .footer-section-small{
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}


@media (min-width:500px){
    .footer-section{
        width:auto;
        max-width: 33vw !important;
    }
}
