@import '../App.css';
@import 'fonts.css';

.logo-text{
    font-family: DarknessOfTheNight, Sans-serif !important;
    color:var(--text-secondary);
    font-weight: 300;
    font-size:20px;
    word-wrap: none;
}

/*
DarknessOfTheNight
LimitBreaking
templeJump 
WoodChop
Vorgane
GhostSkeleton
ImagineSerif 
*/

.logo-image{
    max-height:20vh;
}

@media(min-width:500px){
   .logo-image{
        max-height:25vh;
   }

   .logo-text{
    font-size: 25px;
   }
}

@media(min-width:850px){
    .logo-text{
        font-size: 30px;
    }
}