@import '../App.css';

.nav-container{
    width:100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--nav-theme);
    border-top:solid 1px var(--theme-secondary);
    border-bottom: solid 1px var(--theme-secondary);
}

.large-screen-nav{
    display:none;
}

.mobile-nav{
    display:flex;
}

.nav-item-wrapper{
    background-color: var(--theme-secondary);
    display: none;
}

.nav-item-wrapper.active{
    display:flex;
    width:100%;
    border-top:solid 1px var(--text-secondary);
    border-bottom:solid 1px var(--text-secondary);
    justify-content: center;
}

@media(min-width:500px){
    .nav-item-wrapper{
        background-color: transparent;
        display: flex;
        width:auto;
    }

    .mobile-nav{
        display:none;
    }
    
}

.nav-item{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:10px;
    margin-right:10px;
    padding:20px;
}

.nav-item ul{
    outline:none!important;
    background-color: transparent!important;
    text-decoration: none!important;
    border:none;
    border-radius: none;
    font-weight: bold!important;
    color:var(--text-primary)!important;
    font-size: 20px!important;
}

.nav-item ul:hover{
    outline:none!important;
    background-color: transparent!important;
    text-decoration: none!important;
    border:none;
    border-radius: none;
    font-weight: bold!important;
    color:var(--text-secondary)!important;
    font-size: 20px!important;
}

.nav-item ul:focus{
    outline:none!important;
    background-color: transparent!important;
    text-decoration: none!important;
    border:none;
    border-radius: none;
    font-weight: bold!important;
    color:var(--text-secondary)!important;
    font-size: 20px!important;
}

.nav-item li:hover{
    outline:none!important;
    background-color: transparent!important;
    text-decoration: none!important;
    border:none;
    border-radius: none;
    font-weight: bold!important;
    color:var(--text-secondary)!important;
    font-size: 20px!important;
}

.nav-item li:focus{
    outline:none!important;
    background-color: transparent!important;
    text-decoration: none!important;
    border:none;
    border-radius: none;
    font-weight: bold!important;
    color:var(--text-secondary)!important;
    font-size: 20px!important;
}

/* .nav-item .active{
    color:black!important;
    background-color: white!important;
} */

.nav-item li{
    outline:none!important;
    background-color: transparent!important;
    text-decoration: none!important;
    border:none;
    border-radius: none;
    font-weight: bold!important;
    color:black;
    font-size: 20px!important;
}



.nav-item:hover button{
    color:var(--text-primary);
    flex-grow: 1.2;
    border-bottom: solid 1px var(--text-primary) !important;
    border-radius: 0px!important;
}


.nav-btn{
    outline:none!important;
    background-color: transparent!important;
    text-decoration: none!important;
    border:none;
    border-radius: none !important;
    font-weight: bold!important;
    color:var(--text-secondary) !important;
    font-size: 20px!important;
}

.nav-btn:hover{
    color:var(--text-primary);
    flex-grow: 1.2;
    border-bottom: solid 1px var(--text-primary);
}

.nav-btn:focus{
    outline: solid 1px var(--theme-secondary);
}


@media(min-width:550px){
    .nav-container{
        justify-content: center;

    }

    .large-screen-nav{
        display:inline-flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .mobile-nav{
        display:none;
    }
}