:root {
 /* --background:rgb(41, 41, 41);*/
 --background:rgb(241, 241, 241);
  --text-primary:white;
  --text-secondary:rgb(200, 200, 200);
  --theme-primary: rgb(81, 157, 0);
  --theme-secondary:rgb(93, 93, 93);

}

body{
  background-color: var(--background);
  overflow: hidden;
}

a{
  text-decoration: none;
  color:var(--text-secondary);
}
