:root {
 /* --background:rgb(41, 41, 41);*/
 --background:rgb(241, 241, 241);
  --text-primary:white;
  --text-secondary:rgb(200, 200, 200);
  --text-third: rgb(81, 157, 0);
  --theme-primary: rgb(81, 157, 0);
  --theme-secondary:rgb(93, 93, 93);
  --dividers:rgb(93, 93, 93);
  --nav-theme:black;

}

body{
  background-color: var(--background);
  overflow: hidden;
  padding:0px;
  margin:0px;
}

a{
  text-decoration: none;
  color:var(--text-secondary);
}

p{
  word-break: break-word;
}

h1{
  word-break: break-word;
}

h2{
  word-break: break-word;
}

h3{
  word-break: break-word;
}

h4{
  word-break: break-word;
}

h5{
  word-break: break-word;
}
